<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroupAssignment"
        tools:targetApi="31">
        <activity
            android:name=".background"
            android:exported="false" />
        <activity android:name=".main" />
        <activity
            android:name=".loading_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bus"
            android:exported="false" />
        <activity
            android:name=".time_flight"
            android:exported="false" />
        <activity
            android:name=".information"
            android:exported="false" />
        <activity
            android:name=".transport"
            android:exported="false" />
        <activity
            android:name=".train_type"
            android:exported="false" />
        <activity
            android:name=".state_flight"
            android:exported="false" />
        <activity
            android:name=".state_bus"
            android:exported="false" />
        <activity
            android:name=".seat_bus"
            android:exported="false" />
        <activity
            android:name=".plan_history"
            android:exported="false" />
        <activity
            android:name=".pax_flight"
            android:exported="false" />
        <activity
            android:name=".notification"
            android:exported="false" />
        <activity
            android:name=".my_favourite"
            android:exported="false" />
        <activity
            android:name=".mrt_putrajaya"
            android:exported="false" />
        <activity
            android:name=".mrt_kajang"
            android:exported="false" />
        <activity
            android:name=".message"
            android:exported="false" />
        <activity
            android:name=".lrt_sripetaling"
            android:exported="false" />
        <activity
            android:name=".lrt_ampang"
            android:exported="false" />
        <activity
            android:name=".info_flight"
            android:exported="false" />
        <activity
            android:name=".calendar_flight"
            android:exported="false" />
        <activity
            android:name=".book_history"
            android:exported="false" />
        <activity
            android:name=".airline"
            android:exported="false" />
        <activity
            android:name=".terms_conditions"
            android:exported="false" />
        <activity
            android:name=".accommodation"
            android:exported="false" />
        <activity android:name=".booking_summary" />
        <activity android:name=".choose" />
        <activity android:name=".edit_profile" />
        <activity android:name=".food" />
        <activity android:name=".log_in" />
        <activity android:name=".payment" />
        <activity android:name=".payment_method" />
        <activity android:name=".payment_successful" />
        <activity android:name=".planning_summary" />
        <activity android:name=".play" />
        <activity android:name=".profile" />
        <activity android:name=".reset_password" />
        <activity android:name=".select_location" />
        <activity android:name=".set_picture" />
        <activity android:name=".settings" />
        <activity android:name=".sign_up" />
    </application>

</manifest>